{{!< default}}

{{#post}}
<article class="gh-article {{post_class}}">

    <header class="gh-article-header container-narrow">
        <h1 class="gh-article-title">{{title}}</h1>
    </header>

    {{#if feature_image}}
    <div class="gh-article-image container">
        <img
            src="{{feature_image}}"
            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}">
    </div>
    {{/if}}

    <div class="gh-content">
        {{content}}
    </div>

</article>
{{/post}}
